<h1>Todo Detail</h1>
<p>{{todo.title}}</p>
<p>{{todo.description}}</p>
<a href="/todo/{{todo._id}}/edit">
    <button  class="btn btn-primary">Edit</button>
</a>
<a href="/todo/{{todo._id}}/delete">
    <button  class="btn btn-primary">Delete</button>
</a>

